<!-- kt_relatedProduct_sidebar.liquid -->
{%- liquid
  capture st_card
    echo settings.label_style
    echo '|'
    echo settings.use_new_label
    echo '|'
    echo settings.new_day
    echo '|'
    echo settings.use_sale_label
    echo '|'
    echo settings.product_grid_layout
    echo '|'
    echo settings.aspect_ratio
    echo '|'
    echo settings.aspect_ratio_default
    echo '|'
    echo settings.img_type
    echo '|'
    echo settings.use_first_avai_img
    echo '|'
    echo settings.use_second_img
    echo '|'
    echo settings.pr_grid_talg
    echo '|'
    echo settings.qs_hide_only_1_opt
    echo '|'
    echo settings.qs_show_vars_list
    echo '|'
    echo settings.qs_use_name_opt
    echo '|'
    echo settings.use_quickview
    echo '|'
    echo settings.use_wishlist
    echo '|'
    if settings.use_wishlist
      assign metafields = customer.metafields.nitro_wishlist.products | strip | default: '' | split: '|'
      assign wishlist_hanlde = metafields | last | split: ' '
      assign wishlist_count =  metafields | first | split: ' ' | size
      assign wishlist =  metafields | first
    endif
    echo settings.use_compare
    echo '|'
    echo settings.use_countdown_grid
    echo '|'
    echo settings.countdown_grid_style
    echo '|'
    echo settings.use_vendor_grid
    echo '|'
    echo settings.use_review_grid
    echo '|'
    echo settings.use_add_to_cart_btn
    echo '|'
    echo settings.qs_show_first_opt
  endcapture
  assign st_card = st_card | split: '|'  
  
  assign grid_ly = section.settings.product_grid_layout | default: st_card[4]

  assign width_section = section.settings.width_section
  assign width_content = section.settings.width_content
  capture width_section_
    if width_section == 'container-fluid wide' and width_content == false
      echo 'w-100'
    else
      echo width_section
    endif
  endcapture
  capture width_content_
    if width_content and width_section == 'w-100'
      echo 'container'
    elsif width_section == 'container-fluid wide' and width_content == false
      echo 'container-fluid wide'
    else
      echo 'w-100'
    endif   
  endcapture
  assign dir_body = settings.dir_body
  assign cssAlign = 'left'
  assign cssAlign_rev = 'right'
  if dir_body == 'rtl'
    assign cssAlign = 'right'
    assign cssAlign_rev = 'left'
  endif
-%}

{%- if recommendations.performed -%}
  {% if recommendations.products_count > 0 %}
    {%- for prd in recommendations.products -%}
    <div class="grid-item list mini-list">
      {%- render "product-list-item-mini", product: prd, wishlist: wishlist, st_card: st_card -%}
	  </div>
    {%-endfor-%}
  {%- endif -%}
{%- endif -%}