// GRID
$grid-columns: 12 !default;
$grid-gutter-width: 20px !default;
$grid-gutter-width-small: 20px !default;

$grid-breakpoints: (0, 576px, 768px, 992px, 1200px, 1230px) !default;
$container-max-widths: (0, 540px, 720px, 960px, 1140px, 1200px) !default;

@mixin make-padding() {
  padding-right: ($grid-gutter-width / 2);
  padding-left: ($grid-gutter-width / 2);
}

@mixin make-padding-i() {
  padding-right: ($grid-gutter-width / 2) !important;
  padding-left: ($grid-gutter-width / 2) !important;
}

@mixin make-padding-small() {
  padding-right: ($grid-gutter-width-small / 2);
  padding-left: ($grid-gutter-width-small / 2);
}

@mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  $i : 0;
  @each $breakpoint in $breakpoints {
    $i : $i + 1;
    @if $breakpoint != 0{
      @media (min-width: $breakpoint) {
        max-width: nth($max-widths, $i);
      }
    } @else {
      max-width: nth($max-widths, $i);
    }
  }
}

@mixin make-container-max-widths($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  $i : 0;
  @each $breakpoint in $breakpoints {
    $i : $i + 1;
    @if $breakpoint != 0{
      @media (min-width: $breakpoint) {
        max-width: nth($max-widths, $i);
      }
    }
  }
}

@mixin make-row() {
  margin-right: ($grid-gutter-width / -2);
  margin-left: ($grid-gutter-width / -2);
}

@mixin make-row-small() {
  margin-right: ($grid-gutter-width-small / -2);
  margin-left: ($grid-gutter-width-small / -2);
}


// COLOR
$color_header_background : #ffffff;
$color_body_text: #222222;
$color_primary: #a6c76c;

.text-primary{
  color: $color_primary!important;
}

.link-underline {
  -webkit-box-shadow: 0 1px 0 0 $color_primary;
  box-shadow: 0 1px 0 0 $color_primary;
}

// btn_primary
$btn_primary_color: #fff;
$btn_primary_color_bg: $color_primary;
$btn_primary_border: $color_primary;
$btn_primary_color_hv: #fff;
$btn_primary_color_bg_hv: #92b25a;
$btn_primary_border_hv: #92b25a;


.btn-link {
  color: $color_primary;
  &:hover, &:focus {
    color: $color_primary;
    border-color: $color_primary;
  }
  .btn-link-dark {
    &:hover, &:focus {
      color: $color_primary;
      border-color: $color_primary;
    }
  }
}

.btn-primary, .shopify-payment-button__button.shopify-payment-button__button--unbranded {
  color: $btn_primary_color;
  background-color: $btn_primary_color_bg;
  border-color: $btn_primary_border;
  &:hover,&:hover:not([disabled]), &:focus, &.focus {
    color: $btn_primary_color_hv;
    background-color: $btn_primary_color_bg_hv;
    border-color: $btn_primary_border_hv;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      color: $btn_primary_color_hv;
      background-color: $btn_primary_color_bg_hv;
      border-color: $btn_primary_border_hv;
    }
  }
}

.btn-primary.btn-expandable span{
  color: $btn_primary_color_hv;
  background-color: $btn_primary_color_bg_hv;
}

.show > .btn-primary.dropdown-toggle {
  color: $btn_primary_color_hv;
  background-color: $btn_primary_color_bg_hv;
  border-color: $btn_primary_border_hv;
}

.btn-primary {
  &.disabled, &:disabled {
    color: $btn_primary_color;
    background-color: $btn_primary_color_bg;
    border-color: $btn_primary_border;
  }
}

.btn-secondary {
  color: $btn_primary_color_hv;
  background-color: $btn_primary_color_bg_hv;
  border-color: $btn_primary_border_hv;
  &:hover, &:focus, &.focus {
    color: $btn_primary_color;
    background-color: $btn_primary_color_bg;
    border-color: $btn_primary_border;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      color: $btn_primary_color;
      background-color: $btn_primary_color_bg;
      border-color: $btn_primary_border;
    }
  }
}

.show > .btn-secondary.dropdown-toggle {
  color: $btn_primary_color;
  background-color: $btn_primary_color_bg;
  border-color: $btn_primary_border;
}

.btn-secondary {
  &.disabled, &:disabled {
    color: $btn_primary_color_hv;
    background-color: $btn_primary_color_bg_hv;
    border-color: $btn_primary_border_hv;
  }
}

.btn-primary-dark {
  background-color: $btn_primary_color_bg;
  border-color: $btn_primary_border;
  &:hover, &:focus, &.focus {
    color: $btn_primary_color;
    background-color: $btn_primary_color_bg;
    border-color: $btn_primary_border;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      color: $btn_primary_color;
      background-color: $btn_primary_color_bg;
      border-color: $btn_primary_border;
    }
  }
  &.disabled, &:disabled {
    color: $btn_primary_color_hv;
    background-color: $btn_primary_color_bg_hv;
    border-color: $btn_primary_border_hv;
  }
}

.btn-primary-darker {
  background-color: $btn_primary_color_bg;
  border-color: $btn_primary_border;
  &.disabled, &:disabled {
    color: $btn_primary_color_hv;
    background-color: $btn_primary_color_bg_hv;
    border-color: $btn_primary_border_hv;
  }
}

.btn-white {
  &:hover, &:focus, &.focus {
    color: $btn_primary_color;
    background-color: $btn_primary_color_bg;
    border-color: $btn_primary_border;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      color: $btn_primary_color;
      background-color: $btn_primary_color_bg;
      border-color: $btn_primary_border;
    }
  }
}

.show > .btn-white.dropdown-toggle {
  color: $btn_primary_color;
  background-color: $btn_primary_color_bg;
  border-color: $btn_primary_border;
}

.btn-white-primary {
  color: $color_primary;
  &:hover, &:focus, &.focus {
    color: $btn_primary_color;
    background-color: $btn_primary_color_bg;
    border-color: $btn_primary_border;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      color: $btn_primary_color;
      background-color: $btn_primary_color_bg;
      border-color: $btn_primary_border;
    }
  }
  &.disabled, &:disabled {
    color: $color_primary;
  }
}

.show > .btn-white-primary.dropdown-toggle {
  color: $btn_primary_color;
  background-color: $btn_primary_color_bg;
  border-color: $btn_primary_border;
}

.btn-primary-white {
  color: $btn_primary_color;
  background-color: $btn_primary_color_bg;
  border-color: $btn_primary_border;
  &:hover, &:focus, &.focus {
    color: $color_primary;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      color: $color_primary;
    }
  }
  &.disabled, &:disabled {
    color: $btn_primary_color;
    background-color: $btn_primary_color_bg;
    border-color: $btn_primary_border;
  }
}

.btn-dark {
  &:hover, &:focus, &.focus {
    color: $btn_primary_color;
    background-color: $btn_primary_color_bg;
    border-color: $btn_primary_border;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      color: $btn_primary_color;
      background-color: $btn_primary_color_bg;
      border-color: $btn_primary_border;
    }
  }
}

.show > .btn-dark.dropdown-toggle {
  color: $btn_primary_color;
  background-color: $btn_primary_color_bg;
  border-color: $btn_primary_border;
}

.btn-outline {
  color: $color_primary;
  &:hover, &:focus, &.focus {
    color: $color_primary;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      color: $color_primary;
    }
  }
}

.show > .btn-outline.dropdown-toggle {
  color: $color_primary;
}

.btn-outline {
  &.disabled, &:disabled {
    color: $color_primary;
  }
}

// btn_outline
$btn_outline_primary_color: $color_primary;
$btn_outline_primary_border: $color_primary;

.btn-outline-primary {
  color: $btn_outline_primary_color;
  border-color: $btn_outline_primary_border;
  &:hover, &:focus, &.focus {
    color: $btn_outline_primary_color;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      color: $btn_outline_primary_color;
    }
  }
}

.show > .btn-outline-primary.dropdown-toggle {
  color: $btn_outline_primary_color;
}

.btn-outline-primary {
  &.disabled, &:disabled {
    color: $btn_outline_primary_color;
  }
}

.btn-outline-primary-2 {
  color: $btn_outline_primary_color;
  border-color: $btn_outline_primary_border;
  > i{
    color: $btn_outline_primary_color;
  }
  &:hover, &:focus, &.focus {
    background-color: $btn_outline_primary_border;
    border-color: $btn_outline_primary_border;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      background-color: $btn_outline_primary_border;
      border-color: $btn_outline_primary_border;
    }
  }
}

.show > .btn-outline-primary-2.dropdown-toggle {
  background-color: $btn_outline_primary_border;
  border-color: $btn_outline_primary_border;
}

.btn-outline-primary-2 {
  &.disabled:not(:hover), &:disabled:not(:hover) {
    color: $btn_outline_primary_color;
    > i{
      color: $btn_outline_primary_color;
    }
  }
}

.btn-outline-light {
  &:hover, &:focus, &.focus {
    color: $btn_outline_primary_color;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      color: $btn_outline_primary_color;
    }
  }
}

.show > .btn-outline-light.dropdown-toggle {
  color: $btn_outline_primary_color;
}

.btn-outline-dark {
  &:hover, &:focus, &.focus {
    color: $btn_outline_primary_color;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      color: $btn_outline_primary_color;
    }
  }
}

.show > .btn-outline-dark.dropdown-toggle {
  color: $btn_outline_primary_color;
}

.btn-outline-dark-2 {
  &:hover, &:focus, &.focus {
    color: $btn_outline_primary_color;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      color: $btn_outline_primary_color;
    }
  }
}

.show > .btn-outline-dark-2.dropdown-toggle {
  color: $btn_outline_primary_color;
}

.btn-outline-darker {
  &:hover, &:focus, &.focus {
    background-color: $btn_outline_primary_border;
    border-color: $btn_outline_primary_border;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      background-color: $btn_outline_primary_border;
      border-color: $btn_outline_primary_border;
    }
  }
}

.show > .btn-outline-darker.dropdown-toggle {
  background-color: $btn_outline_primary_border;
  border-color: $btn_outline_primary_border;
}

.btn-outline-gray {
  &:hover, &:focus, &.focus {
    background-color: $btn_outline_primary_border;
    border-color: $btn_outline_primary_border;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      background-color: $btn_outline_primary_border;
      border-color: $btn_outline_primary_border;
    }
  }
}

.show > .btn-outline-gray.dropdown-toggle {
  background-color: $btn_outline_primary_border;
  border-color: $btn_outline_primary_border;
}

.btn-outline-lightgray {
  &:hover, &:focus, &.focus {
    color: $btn_outline_primary_color;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      color: $btn_outline_primary_color;
    }
  }
}

.show > .btn-outline-lightgray.dropdown-toggle {
  color: $btn_outline_primary_color;
}

.btn-outline-white {
  &:hover, &:focus, &.focus {
    background-color: $btn_outline_primary_color;
    border-color: $btn_outline_primary_color;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      background-color: $btn_outline_primary_color;
      border-color: $btn_outline_primary_color;
    }
  }
}

.show > .btn-outline-white.dropdown-toggle {
  background-color: $btn_outline_primary_color;
  border-color: $btn_outline_primary_color;
}

.btn-outline-white-2 {
  &:hover, &:focus, &.focus {
    color: $btn_primary_color_hv;
    background-color: $btn_primary_color_bg_hv;
    border-color: $btn_primary_border_hv;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      color: $btn_primary_color_hv;
      background-color: $btn_primary_color_bg_hv;
      border-color: $btn_primary_border_hv;
    }
  }
}

.show > .btn-outline-white-2.dropdown-toggle {
  color: $btn_primary_color_hv;
  background-color: $btn_primary_color_bg_hv;
  border-color: $btn_primary_border_hv;
}

.btn-outline-white-4 {
  &:hover, &:focus, &.focus {
    color: $btn_outline_primary_color;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      color: $btn_outline_primary_color;
    }
  }
}

.bg-image {
  .btn-link-dark {
    &:hover, &:focus {
      color: $color_primary;
      border-color: $color_primary;
    }
  }
  .btn-outline-primary {
    &:hover, &:focus, &.focus {
      color: $btn_primary_color;
      background-color: $btn_primary_color_bg;
      border-color: $btn_primary_border;
    }
    &:not(:disabled):not(.disabled) {
      &:active, &.active {
        color: $btn_primary_color;
        background-color: $btn_primary_color_bg;
        border-color: $btn_primary_border;
      }
    }
  }
}

.show > .bg-image .btn-outline-primary.dropdown-toggle {
  color: $btn_primary_color;
  background-color: $btn_primary_color_bg;
  border-color: $btn_primary_border;
}

.bg-image .btn-outline-dark {
  &:hover, &:focus, &.focus {
    color: $btn_outline_primary_color;
  }
  &:not(:disabled):not(.disabled) {
    &:active, &.active {
      color: $btn_outline_primary_color;
    }
  }
}

.show > .bg-image .btn-outline-dark.dropdown-toggle {
  color: $btn_outline_primary_color;
}

.btn-video {
  color: $color_primary;
  &:hover,
  &:focus {
    background-color: $color_primary;
  }
}

// COLOR
$color_header_background : #ffffff;
$color_body_text: #222222;
$color_primary: #a6c76c;

.container{
  @include make-padding();
  @include make-container-max-widths();
}

.container-fluid {
  @include make-padding();
}

@media (min-width: 1200px) {
  .container-fluid.wide {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1600px) {
  .container-fluid.wide {
    padding-left: 70px;
    padding-right: 70px;
  }
  .order-xxl-first {
    -ms-flex-order: -1;
    order: -1;
  }

  .order-xxl-last {
    -ms-flex-order: 13;
    order: 13;
  }

  .order-xxl-1 {
    -ms-flex-order: 1;
    order: 1;
  }
}

@media (min-width: 1920px) {
  .container-fluid.wide {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    .container {
      @include make-padding();
    }
  }
}

.row {
  @include make-row();
}

.row.row-small {
  @include make-row-small();
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

[class^="col-"], [class*=" col-"], .col, .col-auto{
  @include make-padding();
}

.p-small[class^="col-"], .p-small[class*=" col-"], .p-small.col, .p-small.col-auto{
  @include make-padding-small();
}

.m--10x-lr{
  margin-left: -10px;
  margin-right: -10px;
}

.p-10x-lr{
  @include make-padding-small();
}

@media (min-width: 320px) {
}

@media (min-width: 576px) {
  .m-sm--with-base-lr{
    @include make-row();
  }
  .p-sm-with-base-lr{
    @include make-padding();
  }
}

@media (min-width: 768px) {
  .p-md-with-base-lr{
    @include make-padding();
  }
  .p-md-with-base-lr-i{
    @include make-padding-i();
  }
  [dir="ltr"]{
    .p-md-with-base-l{    
      padding-left: ($grid-gutter-width / 2) !important;
    }
    .p-md-with-base-r{    
      padding-right: ($grid-gutter-width / 2) !important;
    }
  }
  [dir="rtl"]{
    .p-md-with-base-l{
      padding-right: ($grid-gutter-width / 2) !important;
    }
    .p-md-with-base-r{    
      padding-left: ($grid-gutter-width / 2) !important;
    }
  }
}

$num: 1;
@mixin make-space-box($screen: screen) {
  @for $i from 0 through 10 {
    @if $i == 0{
      .mt#{$screen}-auto {
        margin-top: auto;
      }
      .mr#{$screen}-auto {
        margin-right: auto;
      }
      .mb#{$screen}-auto {
        margin-bottom: auto;
      }
      .ml#{$screen}-auto {
        margin-left: auto;
      }
      .mx#{$screen}-auto {
        margin-right: auto;
        margin-left: auto;
      }
      .pt#{$screen}-auto {
        padding-top: auto;
      }
      .pb#{$screen}-auto {
        padding-bottom: auto;
      }
    }
    @if $i <= 5{
      .m#{$screen}-#{$i * $num} {
        margin: #{$i * $num}rem;
      }
      .p#{$screen}-#{$i * $num} {
        padding: #{$i * $num}rem;
      }
      .my#{$screen}-#{$i * $num} {
        margin-top: #{$i * $num}rem;
        margin-bottom: #{$i * $num}rem;
      }
      .mt#{$screen}-#{$i * $num} {
        margin-top: #{$i * $num}rem;
      }
      .mb#{$screen}-#{$i * $num} {
        margin-bottom: #{$i * $num}rem;
      }
      .py#{$screen}-#{$i * $num} {
        padding-top: #{$i * $num}rem;
        padding-bottom: #{$i * $num}rem;
      }
      .pt#{$screen}-#{$i * $num} {
        padding-top: #{$i * $num}rem;
      }
      .pb#{$screen}-#{$i * $num} {
        padding-bottom: #{$i * $num}rem;
      }
    }
    .mt#{$screen}-autoi {
      margin-top: auto !important;
    }
    .mr#{$screen}-autoi {
      margin-right: auto !important;
    }
    .mb#{$screen}-autoi {
      margin-bottom: auto !important;
    }
    .ml#{$screen}-autoi {
      margin-left: auto !important;
    }
    .mx#{$screen}-autoi {
      margin-right: auto !important;
      margin-left: auto !important;
    }
    .pt#{$screen}-autoi {
      padding-top: auto !important;
    }
    .pb#{$screen}-autoi {
      padding-bottom: auto !important;
    }
    .m#{$screen}-#{$i * $num}i {
      margin: #{$i * $num}rem !important;
    }
    .p#{$screen}-#{$i * $num}i {
      padding: #{$i * $num}rem !important;
    }
    .my#{$screen}-#{$i * $num}i {
      margin-top: #{$i * $num}rem !important;
      margin-bottom: #{$i * $num}rem !important;
    }
    .mt#{$screen}-#{$i * $num}i {
      margin-top: #{$i * $num}rem !important;
    }
    .mb#{$screen}-#{$i * $num}i {
      margin-bottom: #{$i * $num}rem !important;
    }
    .py#{$screen}-#{$i * $num}i {
      padding-top: #{$i * $num}rem !important;
      padding-bottom: #{$i * $num}rem !important;
    }
    .pt#{$screen}-#{$i * $num}i {
      padding-top: #{$i * $num}rem !important;
    }
    .pb#{$screen}-#{$i * $num}i {
      padding-bottom: #{$i * $num}rem !important;
    }
  }
}
@include make-space-box('');
@media (min-width: 576px){
  @include make-space-box('-sm');
}
@media (min-width: 768px){
  @include make-space-box('-md');
}
@media (min-width: 992px){
  @include make-space-box('-lg');
}
@media (min-width: 1200px){
  @include make-space-box('-xl');
}
@media (min-width: 1600px){
  @include make-space-box('-xxl');
}

.section-title h3{
  font-size: 2.4rem;
  font-weight: 600;
}

.md_products_section .tab-product.none-big-title .box-tabs a{
  font-size: 2.4rem;
  font-weight: 600;
}

.section-title .sub-title, dfn.sub-title, .box-sub-title{
  font-size: 1.4rem;
  font-family: Poppins;
  font-style: normal;
}

$priceColor: #333333;
.product-price {
  color: $priceColor;
  &.product-price-onsale ins {
    color: #ef837b;
  }
  [class*="ProductVaries-"]{
    color: #111;
  }
}
.entry-price {
  ins{
    color: $priceColor;
  }
}

.out-text{
  color: $priceColor;
}

.md_products_section_tab_slide_banner_2 .banner-wrapper .flashs>span{
  color: $priceColor;
}

.onsale{
  background-color: #e53939;
}
.onexclusive{
  background-color: #222;
}
.onnew{
  background-color: #a6c76c;
}

.swatch{
  background-color: #eeeeee;
}

.fake_select{
  &.not_select li.check_btn_style.selected span.check_btn,
  &.not_select li.check_btn_style:hover span.check_btn {
    background-color: $color_primary;
    box-shadow: 0px 0px 0px 1px $color_primary;
  }
  &.variant_image li.selected {
    border-color: $color_primary;
  }
}

.kt_progress_bar .progress-bar {
  background-color: #e53939;
}

.kt_countdown.style02 .block {
  color: #e53939;
}

.kt_countdown.style06 .flip-top{
  color: #e53939;
}

.kt_progress_bar .progress {
  background-color: #e9ecef;
}

#number_counter{
  background-color: #e53939;
}

// PRODUCT SINGLE
.product-page{
  .entry-title,.title-sidebar h3{
    font-size: 2.4rem;
    font-weight: 400;
    font-style: none;
    text-transform: capitalize;
  }
  .entry-price{
    font-size: 2.4rem;
  }
}
.product-single-background{
  background-color: #f2f2f2;
}

// HEADER 
$color_text_announcement: #fff;
$color_text_announcement_hv: #fff;
$color_announcement_bg: #cc6666;
$announcement_color_bg_op: 1;
$color_text_headert: #999999;
$color_text_headert_hv: #a6c76c;
$color_headt_bg: #f8f8f8;
$color_headt_bg_op: 1;
$color_icon_header: #333333;
$color_text_header: #555;
$color_text_header_hv: #555;
$color_head_bg: #ffffff;
$color_head_bg_op: 1;
$color_text_vertical: #555;
$color_text_vertical_hv: #555;
$color_vertical_bg: #fff;

.onsticky #header-top .header-wrap-stick{
  background-color: #f8f8f8;
}
.onsticky .header .header-wrap-stick:not(.not_onsticky) .logo a,
.onsticky .header-ontop.logo a{
  max-width: 16.0rem !important;
}.header-announcement{
    background-color: #cc6666;
  }.header-top{
    background-color: #f8f8f8;
  }.header,
  .onsticky .header-ontop .header{
    background: #ffffff;
  }.onsticky .fake-wrap-stick{
  background: $color_head_bg_op;
}

.header{
  .header-bottom{
    color: #333333;
    background-color: #ffffff;  
    .main-menu>li>a {
      color: #333333;
    }
    .control-inner>div a.menu-bar {
      color: #333333;
    }
    .main-menu>li:hover>a,
    .main-menu li.show > a,
    .main-menu li.active > a {
      color: #a6c76c;
    }
    .main-menu > li > a:before {
      background-color: #a6c76c;
    }
  }
  &.style-05 {
    .header-bottom{      
      .main-menu>li:hover>a,
      .main-menu li.show > a,
      .main-menu li.active > a {
        color: #333333;
      }
    }
  }
  &.style-17 {
    .vertical-menu {
      .home-demo-html .menu-title {
        color: #555;
      }
      .main-menu .menu-item.item-megamenu .menu-item.title_lv1 >a[href="#"] {
        color: #555;
      }
    }
  }
}

.header-announcement p,
.header-announcement p strong{
  color: $color_text_announcement;
  &:hover{
    color: $color_text_announcement_hv;
  }
}

.header-top a:not(:hover),
.header-top span,
.header-top i,
.header-top p,
.header-top .wg-drop.country-selector a {
  color: $color_text_headert;
}
.header-top .kiti--DropInner a,
.header-top .kiti--DropInner span,
.header-top .kiti--DropInner p {
  color: $color_body_text;
}
.header-top a:hover,
.header-top a:hover > span,
.header-top a:hover .fkt-angle-down,
.header-top .socials a:hover i,
.header-top .wg-drop.country-selector a:hover,
.header-top .wg-drop.country-selector:not(.closed) .wg-li.focus a,
.header-top .wg-drop.country-selector:not(.closed) a:hover {
  color: $color_text_headert_hv;
}

.category-menu .category-menu-item:hover>a{  
  border-color: $color_text_header_hv;
}

.dropdown.category-dropdown .dropdown-toggle {
  color: #333333;
}

.header .control-inner > div a.icon-link,
.header .control-inner > div a.icon-link .cartCost,
.header .control-inner > div a.menu-bar, 
.header .control-inner .box-search .button-search{
  color: $color_icon_header;
}

.header .main-menu>li>a{
  color: $color_text_header;
}
.main-menu li:hover > a {
  color: $color_primary;
}
.main-menu>li:hover>a,
.main-menu>li>a:hover,
.header .category-menu .category-menu-item:hover span.title,
.header .control-inner > div a.icon-link:hover .cartCost{
  color: $color_text_header_hv;
}


footer {
  color: #999999;
  background-color: #ffffff;
  .widget-title{
    color: #333333;  
    @media (max-width: 575px) {
      border-bottom-color: #ebebeb;
    }
  }
  .widget-call a{
    color: #333333 !important;
  }
  .footer-bottom {
    border-color: #ebebeb;
  }
  a:not(:hover){
    color: #999999;
  }
  .widget-call i{
    color: $color_primary;
  }
}


// COLOR PRIMARY Color
.header-top .kiti--DropInner a:hover,
.header-top .kiti--DropInner a:hover i,
.header-top .kiti--DropInner a:hover span,
.header-top .kiti--DropInner a:hover p{
  color: $color_primary;
}
.currency-list ul li:hover .sym label span,
.currency-list ul li.active .sym label span{
  color: $color_primary;
}
.header .control-inner>div a.icon-link.icon-link:hover,
.header .control-inner>div a.menu-bar:hover{
  color: $color_primary;
}

.item-blog .meta .fa {
  color: $color_primary;
}

.page-header h1 span{
  color: $color_primary;
}

.breadcrumbs_nav_products li:hover i{
  color: $color_primary !important;
}

// .icon-box-icon {
//   color: $color_primary;
// }

.card-title a {
  color: $color_primary;
  &:before {
    color: $color_primary;
  }
  &.collapsed {
    &:hover,
    &:focus {
      color: $color_primary;
    }
  }
}

.nav.nav-tabs .nav-link:hover,
.nav.nav-tabs .nav-link:focus {
  color: $color_primary;
}
.nav.nav-tabs .nav-item.show .nav-link,
.nav.nav-tabs .nav-item .nav-link.active {
  color: $color_primary;
}
.nav.nav-pills .nav-link:hover,
.nav.nav-pills .nav-link:focus {
  color: $color_primary;
}
.nav.nav-pills .nav-item.show .nav-link,
.nav.nav-pills .nav-item .nav-link.active {
  color: $color_primary;
}
.testimonial-icon:before {
  color: $color_primary;
}

.nav-style1{
  .owl-prev:not(:hover),
  .owl-next:not(:hover) {
    color: $color_primary;
  }
}

.socials_.style-01 a.social-icons__link:hover,
.socials_.style-01 a.social-icons__link:hover i {
  color: $color_primary;
}

.kt_countdown.style01{
  .block:not(:last-child):after {
    color: $color_primary;
  }
  span.flip-top {
    color: $color_primary;
  }
}

.list-wishlist .infor span:last-child,
.list-compare .infor span:last-child{
  color: $color_primary;
}

.social-share a:hover i{
  color: $color_primary;
}

.compare-product-title a:hover,
.compare-product-title a:focus {
  color: $color_primary;
}
.mini-compare-content .compare-actions .action-link:hover,
.mini-compare-content .compare-actions .action-link:focus {
  color: $color_primary;
}

.header .header-bottom{
  .dropdown-item:focus,
  .dropdown-item:hover,
  .dropdown-item:active{
    color: $color_primary;
  }
}

footer .widget-about-info a{
  color: $color_primary;
}
.cta.design_10 .cta-text p{
  color: $color_primary;
}
.cta.design_17 .highlight{
  color: $color_primary !important;
}

.grid-item .product-name:hover{
  color: $color_primary;
}
.p-style-11{
  .btn-product:before{
    color: $color_primary;
  }
}

.p-style-12 .btn-product:hover{
  color: $color_primary;
  span{
    color: $color_primary;
    &:after{
      border-color: $color_primary;
    }
  }
}

.p-style-14 .btn-product:hover{
  color: $color_primary;
}
.p-style-15{
  .btn-product{
    color: $color_primary;
    &:before{
      color: $color_primary;
    }
  }
}
.pagination a.btn--narrow,
.pagination .page-numbers{
  &:hover, &.current {
    color: $color_primary;
  }
}

.filter-by:hover{
  color: $color_primary;
}
.filter-close:hover{
  color: $color_primary;
}

.tab-details-product a {
  &:hover,
  &:focus {
    color: $color_primary;
    border-bottom-color: $color_primary;
  }
}

.breadcrumbs_nav_products li a:hover span{
  color: $color_primary;
}
.entry-title a {
  &:hover,
  &:focus {
    color: $color_primary;
  }
}
.entry-video {
  &:hover,
  &:focus {
    &:after {
      color: $color_primary;
    }
  }
}
.entry-tags a:hover, .entry-tags a:focus {
  color: $color_primary;
}
.widget-cats a {
  &:hover,
  &:focus {
    color: $color_primary;
  }
}
.menu-cat {
  a {
    &:hover,
    &:focus {
      color: $color_primary;
    }
  }

  li.active {
    a {
      color: $color_primary;
      -webkit-box-shadow: 0 1px 0$color_primary;
      box-shadow: 0 1px 0 $color_primary;
    }
  }
}
.posts-list a {
  &:hover,
  &:focus {
    color: $color_primary;
  }
}
.tagcloud a:hover, .tagcloud a:focus {
  color: $color_primary;
}
.widget-search .btn {
  &:hover,
  &:focus {
    color: $color_primary;
  }
}
.editor-content a:hover, .editor-content a:focus {
  color: $color_primary;
  -webkit-box-shadow: 0 1px 0 $color_primary;
  box-shadow: 0 1px 0 $color_primary;
}

.pager-link {
  color: $color_primary;  
  &:hover, &:focus, &:hover:after, &:focus:after {
    color: $color_primary; 
  }
}

.mobile-menu-close {
  &:hover,
  &:focus {
    color: $color_primary; 
  }
}
.mobile-menu {
  li {
    a {
      &:hover,
      &:focus {
        color: $color_primary; 
      }
    }
    
    &.open,
    &.active {
      > a {
        color: $color_primary; 
        .mmenu-btn {
          color: $color_primary; 
        }
      }
    }
  }
}
.mmenu-btn {
  &:hover,
  &:focus {
    color: $color_primary; 
  }
}
.mobile-search {
  .form-control {
    &:focus {
      border-color: $color_primary; 
    }
  }
}
.nav.nav-pills-mobile {
  .nav-link {
    &:before {
      background-color: $color_primary;
    }
    &.active,
    &:hover,
    &:focus {
     color: $color_primary;
     border-bottom-color: $color_primary; 
    }
  }
}
.mobile-cats-menu {
  li {
    a {
      &:hover,
      &:focus {
        color: $color_primary;
      }
    }
  }
}
.menu-vertical li.title_lv1>a{
  color: $color_primary;
}

@media (min-width: 992px){  
  .widget_product_categories.market-layout .kt_filterGroupItem_ul .level-1.opened>a label {
    color: $color_primary;
  }
  .widget_product_categories.market-layout .kt_filterGroupItem_ul .current-cat a label {
    color: $color_primary;
  }
}

.md_products_section_tab_banner .box-tabs a:not(.active){
  color: $color_primary;
}

// COLOR PRIMARY Background
.cartCount,
.wishlist-count{
  background-color: $color_primary;
}

.item-blog.type02 .blog-date {
  background-color: $color_primary;
}

.icon-box-circle .icon-box-icon {
  background-color: $color_primary;
}

.nav-style1{
  .owl-prev:not(.disabled):hover,
  .owl-next:not(.disabled):hover {
    background-color: $color_primary;
  }
}

.custom-control.custom-radio {
  .custom-control-input:checked ~ .custom-control-label::after {
    background-color: $color_primary;
  }
}

.fake_select.square,
.fake_select.circle {
  .sw.selected span.option_title,
  .sw:hover span.option_title{
    background-color: $color_primary;
  }
}

li.selected span.check_btn:after,
li:hover span.check_btn:after{
  background-color: $color_primary;
}

.product-loop-variants .swatch-on-grid.active .comma,
.product-loop-variants .swatch-on-grid:hover .comma{
  background-color: $color_primary;
  box-shadow: 0px 0px 0px 1px  $color_primary;
  -webkit-box-shadow: 0px 0px 0px 1px  $color_primary;
}

.swiper-scrollbar-drag{
  background-color: rgba(166, 199, 108, 0.8);
}

.btn-expandable span{
  background-color: $color_primary;
}

.block-minicart.icon-fixed a.icon-link{
  background-color: $color_primary;
}
.liveSearchMobile .header-control{
  background-color: $color_primary;
}

.category-dropdown .dropdown-toggle:before{
  background-color: $color_primary;
}
.header.style-11 .dropdown.category-dropdown .dropdown-toggle,
.dropdown.category-dropdown.show .dropdown-toggle,
.dropdown.category-dropdown:hover .dropdown-toggle {
  background-color: $color_primary;
}

.kt_countdown.style04 span.flip-top {
  background-color: $color_primary;
}

.testimonials-slide .style_02 .testimonial-icon:before {
  background-color: $color_primary;
}

.icon-box-card-border:hover {
  border-color: $color_primary;
  background-color: $color_primary;
}

.kt_pin_item:after{
  background-color: rgba(166, 199, 108, 0.1);
}

.cat-block-title:hover{
  color: $color_primary;
}

.md_products_section_tab_banner .box-tabs a.active::before{
  background-color: $color_primary;
}

// COLOR PRIMARY Border Color
.category-menu li>a:hover{
  border-color: $color_primary;  
}
blockquote {
  border-left-color: $color_primary;
  border-right-color: $color_primary;
}

.owl-carousel.nav-style6,
.owl-carousel.nav-style7{
  .owl-next:hover,.owl-prev:hover{
    border-color: $color_primary;
  }
}

.item-blog.type04:hover .info-item-blog:after {
  box-shadow: inset 0 0 0 5px $color_primary;
  border-color: $color_primary;
}

.newsletter:after{
  border-color: $color_primary;
}

.element-icon.style2 {
  &:before,
  &:after {
    border-color: $color_primary;
  }
}

.nav.nav-pills .nav-link:hover,
.nav.nav-pills .nav-link:focus {
  border-color: $color_primary;
}
.nav.nav-pills .nav-item.show .nav-link,
.nav.nav-pills .nav-item .nav-link.active {
  border-color: $color_primary;
}

.nav-style1{
  .owl-prev:not(.disabled):hover,
  .owl-next:not(.disabled):hover {
    border-color: $color_primary;
  }
}
.form-control {
  &:focus {
    border-color: $color_primary;
  }
}

.custom-control.custom-radio {
  .custom-control-input:checked ~ .custom-control-label::before {
    border-color: $color_primary;
    background-color: transparent;
  }
}

.socials_.style-01 a.social-icons__link:hover {
  border-color: $color_primary;
}

.thumbnails .swiper-slide-thumb-active a:before {
  border-color: $color_primary;
}

.fake_select.variant_image li.selected>div:before,
.fake_select.variant_image li:hover>div:before{
  border-color: $color_primary;
}

.social-share a:hover{
  border-color: $color_primary;
}

.breadcrumbs_nav_products li a:hover span{
  border-color: $color_primary;
}

.fake_select.square,
.fake_select.circle {
  .sw.selected span.option_title{
    border-color: $color_primary;
  }
}

.testimonials-slide .style_02 .testimonial-icon:after {
  border-color: $color_primary;
}

.entry-buttons a.btn:hover span{
  border-bottom-color: $color_primary;
}

.editor-content blockquote{
  border-left-color: $color_primary;
}

.table.table-summary .summary-shipping-estimate a {
  &:hover,
  &:focus {
    color: $color_primary;
    border-bottom-color: $color_primary;
  }
}
.header.style-07 .box-search.input-cat-left{
  border-color: $color_primary;
}
.header.style-07 .dropdown.category-dropdown {
  background-color: $color_primary;
}

.header.style-16{
  .dropdown.category-dropdown .dropdown-toggle:not(:hover) {
    &:after {
      color: $color_primary;
    }
  }
  .header-control-link{
    i {
      color: $color_primary;
    }
  }
}

// BOXSHADOW PRIMARY Border Color
.read-more:hover,
.read-more:focus {
  -webkit-box-shadow: 0 1px 0 0 $color_primary;
  box-shadow: 0 1px 0 0 $color_primary;
}


.kt_countdown.style05{
  background-color: $color_primary;
  .cdday .label:before{
    content: 'Days';
  }
  .cdhrs .label:before{
    content: 'Hrs';
  }
  .cdmins .label:before{
    content: 'Mins';
  }
  .cdsecs .label:before{
    content: 'Secs';
  }
}

.nav-dashboard {
  .nav-link {
    color: $color_body_text;
    &:hover,
    &:focus,
    &.active {
      color: $color_primary;
    }
  }
}.touchevents .overflow-scroll-wrapper {
    width: 100%;
  }
  .touchevents .overflow-scroll-wrapper ul.list-group {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  @media (max-width: 1199px){
    .overflow-scroll-wrapper {
      width: 100%;
    }
    .overflow-scroll-wrapper ul.list-group {
      -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
      -ms-flex-direction: row !important;
      flex-direction: row !important;
      -ms-flex-pack: center !important;
      justify-content: center !important;
    }
  }
.icon-box-side .icon-box-icon{
  color: $color_body_text;
}
.header-bottom .main-menu > li:first-child > a:before {
  left: -1.5rem;
}
.md_products_section .box-tabs a.active {
  color: #333;
  border-bottom-color: #333;
}
.item-blog .read-more {
  text-transform: capitalize;
}
.item-blog .read-more:not(:hover) {
  color: #333;
}
.item-blog .read-more:hover:after{
  color: $color_primary;
}
@media (min-width: 320px) {
  
}
@media (min-width: 576px) {
  
}
@media (min-width: 768px) {
  
}
@media (min-width: 992px) {
  
}
@media (min-width: 1200px) {
  
}
