<div class="page-container">
  <div class="container">
    <div class="border-top">
      {%-render 'kt_breadcrumb'-%}
    </div>
    <div class="clearfix w-100">
	    {{page.content}}
    </div>
  </div>
{%- section 'ourTeam-section1' -%}
{%- section 'ourTeam-section2' -%}
{%- section 'ourTeam-section3' -%}
</div>