<div class="page-container">
  <div class="container-fluid">
    <div class="border-top">
      {%-render 'kt_breadcrumb'-%}
    </div>
  	<div class="row mb-70">
  		{{page.content}}
  	</div>
  </div>
</div>