<div class="container menu-vertical-prev" style="margin-top: 500px;">
{%- section 'kt_vertical-menu-0' -%}
{%- section 'kt_vertical-menu-1' -%}
{%- section 'kt_vertical-menu-2' -%}
{%- section 'kt_vertical-menu-3' -%}
{%- section 'kt_vertical-menu-4' -%}
{%- section 'kt_vertical-menu-5' -%}
{%- section 'kt_vertical-menu-6' -%}
{%- section 'kt_vertical-menu-7' -%}
{%- section 'kt_vertical-menu-8' -%}
{%- section 'kt_vertical-menu-9' -%}
</div>
