@using Entities.Models
@model Users
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>ADMIN | Login</title>

    <link href="~/Assets/inspinia/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/inspinia/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Assets/inspinia/css/animate.css" rel="stylesheet">
    <link href="~/Assets/inspinia/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">A+</h1>

            </div>
            <p>Lütfen kullanıcı bilgilerinizi girin!</p>
            @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-horizontal", @id = "addCategoryform" }))
            {
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Username, new { @class = "form-control", name = "Username", required = "required", placeholder = "Kullanıcı Adı", value = Model.Username })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", name = "Password", required = "required", placeholder = "Şifre", type = "password", value = Model.Password })
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Giriş</button>
            }
            <p class="m-t"> <small>A&Y &copy; @DateTime.Now.Year.ToString()</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/Assets/inspinia/js/jquery-3.1.1.min.js"></script>
    <script src="~/Assets/inspinia/js/bootstrap.min.js"></script>

</body>

</html>


